@font-face {
	font-family: "Gilroy-Thin";
	src: url("../fonts/Gilroy-Thin/Gilroy-Thin.eot");
	src: local('☺'), url("../fonts/Gilroy-Thin/Gilroy-Thin.woff") format('woff'), url("../fonts/Gilroy-Thin/Gilroy-Thin.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy-Light";
	src: url("../fonts/Gilroy-Light/Gilroy-Light.eot");
	src: local('☺'), url("../fonts/Gilroy-Light/Gilroy-Light.woff") format('woff'), url("../fonts/Gilroy-Light/Gilroy-Light.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy-Regular";
	src: url("../fonts/Gilroy-Regular/Gilroy-Regular.eot");
	src: local('☺'), url("../fonts/Gilroy-Regular/Gilroy-Regular.woff") format('woff'), url("../fonts/Gilroy-Regular/Gilroy-Regular.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy-Medium";
	src: url("../fonts/Gilroy-Medium/Gilroy-Medium.eot");
	src: local('☺'), url("../fonts/Gilroy-Medium/Gilroy-Medium.woff") format('woff'), url("../fonts/Gilroy-Medium/Gilroy-Medium.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy-Semibold";
	src: url("../fonts/Gilroy-Semibold/Gilroy-Semibold.eot");
	src: local('☺'), url("../fonts/Gilroy-Semibold/Gilroy-Semibold.woff") format('woff'), url("../fonts/Gilroy-Semibold/Gilroy-Semibold.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy-Heavy";
	src: url("../fonts/Gilroy-Heavy/Gilroy-Heavy.eot");
	src: local('☺'), url("../fonts/Gilroy-Heavy/Gilroy-Heavy.woff") format('woff'), url("../fonts/Gilroy-Heavy/Gilroy-Heavy.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy-Bold";
	src: url("../fonts/Gilroy-Bold/Gilroy-Bold.eot");
	src: local('☺'), url("../fonts/Gilroy-Bold/Gilroy-Bold.woff") format('woff'), url("../fonts/Gilroy-Bold/Gilroy-Bold.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy-Black";
	src: url("../fonts/Gilroy-Black/Gilroy-Black.eot");
	src: local('☺'), url("../fonts/Gilroy-Black/Gilroy-Black.woff") format('woff'), url("../fonts/Gilroy-Black/Gilroy-Black.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}
