$color-text: #4A4A4A;
$color-yellow: #FEDE00;
$color-blue: #1E71BF;
$color-title: #551A8B;
$color-red: #F96346;
$color-green: #46C37B;
$color-gray: #999999;
$color-bg: #FFF4E5;
$color-link: #CFABF1;
$color-border: #7F6498;
