main
    .banner                
        .container
            form.search-master(action="#")
                .search-master__title 
                    span Срочный ремонт замка зажигания
                    br
                    b с выездом в Москве
                fieldset.search
                    legend Поиск автомастера                                         
                    .search-inner
                        .search-item
                            .select-custom
                                select
                                    option Выберите неисправность
                                    option Тест
                                    option Тест
                        .search-item
                            .select-custom
                                select
                                    option Выберите марку
                                    option BMW
                                    option Mazda
                        .search-item
                            .select-custom
                                select
                                    option Выберите модель
                                    option Тест
                                    option Тест
                        .search-item
                            button(type="submit").search__btn 
                                span Найти
    .container
        include ./breadcrumbs.pug
        .main-text
            h1.main-title Ремонт замков зажигания с выездом в Москве
            p Ремонт замка зажигания может понадобиться практически каждому владельцу автомобиля. Современные   автомобили, комплектуются несколькими видами замков зажигания. В зависимости от комплектации    автомобиля 
                a(href="#") замок зажигания 
                |бывает электронный, или механический. Механический замок зажигания, начали устанавливать на автомобили около 50 лет назад, конструкция настолько надёжна, что и по сегодняшний день автомобили комплектуются механическими замками. Но, как известно не бывает запчастей, которые служат вечно. Как правило 
                a(href="#") ремонт личинки замка зажигания 
                |может понадобиться примерно лет через 5-10 эксплуатации автомобиля.

        .car-model
            h2.main-title Выберите марку автомобиля
            .model-slider.owl-carousel
                .item
                    ol.model-list
                        li
                            .model-list__img
                                img(src="img/volks-logo.png")
                            a(href="#") Volkswagen
                        li
                            .model-list__img
                                img(src="img/hundai-logo.png")
                            a(href="#") Hundai
                        li
                            .model-list__img
                                img(src="img/volks-logo.png")
                            a(href="#") Volkswagen
                .item
                    ol.model-list
                        li
                            .model-list__img
                                img(src="img/lada-logo.png")
                            a(href="#") Лада ВАЗ
                        li
                            .model-list__img
                                img(src="img/honda-logo.png")
                            a(href="#") Honda
                        li
                            .model-list__img
                                img(src="img/lada-logo.png")
                            a(href="#") Лада ВАЗ

                .item
                    ol.model-list
                        li
                            .model-list__img
                                img(src="img/bmw-logo.png")
                            a(href="#") BMW
                        li
                            .model-list__img
                                img(src="img/reno-logo.png")
                            a(href="#") Renault
                        li
                            .model-list__img
                                img(src="img/bmw-logo.png")
                            a(href="#") BMW

                .item
                    ol.model-list
                        li
                            .model-list__img
                                img(src="img/skoda-logo.png")
                            a(href="#") Scoda
                        li
                            .model-list__img
                                img(src="img/ford-logo.png")
                            a(href="#") Ford
                        li
                            .model-list__img
                                img(src="img/skoda-logo.png")
                            a(href="#") Scoda

                .item
                    ol.model-list
                        li
                            .model-list__img
                                img(src="img/mitsubishi-logo.png")
                            a(href="#") Mitsubishi
                        li
                            .model-list__img
                                img(src="img/kia-logo.png")
                            a(href="#") KIA
                        li
                            .model-list__img
                                img(src="img/mitsubishi-logo.png")
                            a(href="#") Mitsubishi

                .item
                    ol.model-list
                        li
                            .model-list__img
                                img(src="img/mazda-logo.png")
                            a(href="#") Mazda
                        li
                            .model-list__img
                                img(src="img/toyota-logo.png")
                            a(href="#") Toyota
                        li
                            .model-list__img
                                img(src="img/mazda-logo.png")
                            a(href="#") Mazda

                .item
                    ol.model-list
                        li
                            .model-list__img
                                img(src="img/audi-logo.png")
                            a(href="#") Audi
                        li
                            .model-list__img
                                img(src="img/subaru-logo.png")
                            a(href="#") Subaru
                        li
                            .model-list__img
                                img(src="img/audi-logo.png")
                            a(href="#") Audi

                .item
                    ol.model-list
                        li
                            .model-list__img
                                img(src="img/mers-logo.png")
                            a(href="#") Mersedes
                        li
                            .model-list__img
                                img(src="img/lexus-logo.png")
                            a(href="#") Lexus
                        li
                            .model-list__img
                                img(src="img/mers-logo.png")
                            a(href="#") Mersedes

                .item
                    ol.model-list
                        li
                            .model-list__img
                                img(src="img/nissan-logo.png")
                            a(href="#") Nissan
                        li
                            .model-list__img
                                img(src="img/volvo-logo.png")
                            a(href="#") Volvo
                        li
                            .model-list__img
                                img(src="img/nissan-logo.png")
                            a(href="#") Nissan              

        .sentence
            h3.main-title Что мы можем предложить вам?
            .sentence-inner
                ul.sentence-list
                    li
                        a(href="#") Механический замок зажигания
                    li
                        a(href="#") Электронный замок зажигания

                ul.sentence-list
                    li
                        a(href="#") Механический замок зажигания
                    li
                        a(href="#") Электронный замок зажигания

                ul.sentence-list
                    li
                        a(href="#") Механический замок зажигания
                    li
                        a(href="#") Электронный замок зажигания

    .advantages
        .container
            .advantages__inner
                
                .advantages__item
                    .advantages-slider.owl-carousel
                        .item
                            .advantages-slider__tooltip
                                |Не дожидайтесь пока замок зажигания заклинит окончательно. Ремонт с выездом на место лучшее решение проблем с зажиганием!
                            .advantages-slider__img
                                img(src="img/key-img.png")
                        .item
                            .advantages-slider__tooltip
                                |Не дожидайтесь пока замок зажигания заклинит окончательно. Ремонт с выездом на место лучшее решение проблем с зажиганием!
                            .advantages-slider__img
                                img(src="img/key-img.png")
                        .item
                            .advantages-slider__tooltip
                                |Не дожидайтесь пока замок зажигания заклинит окончательно. Ремонт с выездом на место лучшее решение проблем с зажиганием!
                            .advantages-slider__img
                                img(src="img/key-img.png")
                                    
                .advantages__item
                    blockquote.main-title Мы отремонтировали уже более 
                        b 3000 замков 
                    .advantages-about
                        .advantages-about__item
                            .advantages-about__img
                            span Бесплатная диагностика 
                                br 
                                |по 40 параметрам
                        .advantages-about__item
                            i.advantages-about__img
                            span Современное оборудование
                                br 
                                |и лучшие мастера
                        .advantages-about__item
                            i.advantages-about__img
                            span Производим ремонт 
                                br
                                |на месте от 30 минут
                    .advantages__btn    
                        button.btn-yellow Заказать ремонт замка зажигания Mitsubishi Pajero    
