.footer
    p Футер


    //- fieldset{
    //-       border-radius: 0 50px 50px 0;
    //-       border: 2px solid orange;
    //-       padding: 30px;
    //-       width: 600px;
    //-     }
    //-     legend{
    //-       color: orange;
    //-     }

include ./footer-modals.pug
script(src="libs/jquery/jquery-3.4.1.min.js")
script(src="libs/parallax/parallax.min.js")
script(src="libs/simplebox/simplebox.js")
script(src="libs/simplebox/simplebox_util.js")
script(src="libs/wow/wow.js")
script(src="libs/jquery-ui-select/jquery-ui.min.js")
script(src="libs/autosize/autosize.min.js")
script(src="libs/owl.carusel-2.3.4/owl.carousel.min.js")
script(src="js/common.js")
